<section class="books-categories-sections">
  <div class="categories-container js-books-container">
    <h2 class="book-category-name"></h2>
    <h3 class="book-category-subname"></h3>
    <ul class="category-list">
      <li class="book-item">
        <a href="" class="book-link link">
          <div class="book-box">
            <img src="" alt="" width="360" height="300" />
          </div>
          <div class="book-wrapper">
            <h3 class="book-name">Fresh Coffee</h3>
            <p class="book-autor">Web Site</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
