<div class="order-modal modal" data-modal="1">
    <h2 class="order-modal-title">Your Order</h2>
  
    <!--   close order button  -->
    <button class="order-close-btn button js-modal-close" type="button">
      <svg class="order-close-icon">
        <use href="./img/svg/symbol-defs.svg#icon-close-btn"></use>
      </svg>
    </button>
  
    <form class="order-form" name="order-form">
      <div class="order-cards">
        <ul class="order-list">
          <li class="order-item">
            <div class="order-block">
              <label
                class="order-choise-strawberry"
                for="order-choise-strawberry"
              >
                <h3 class="order-item-name">Strawberry Basket</h3>
                <p class="order-item-type">Plant</p>
  
                <input
                  class="strawberry-checkbox"
                  type="checkbox"
                  id="order-choise-strawberry"
                />
                <svg class="strawberry-checkbox-icon" width="8" height="8">
                  <use href="./img/svg/symbol-defs.svg#icon-pick"></use>
                </svg>
                <div class="order-strawberry-image">
                  <picture>
                    <!-- Desktop -->
                    <source
                      media="(min-width: 1280px)"
                      srcset="
                        ./img/modal-window-img/strawberry-basket-desk@1x.png 1x,
                        ./img/modal-window-img/strawberry-basket-desk@2x.png 2x
                      "
                      type="image/png"
                    />
  
                    <!-- Tablet -->
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/modal-window-img/strawberry-basket-tab@1x.png 1x,
                        ./img/modal-window-img/strawberry-basket-tab@2x.png 2x
                      "
                      type="image/png"
                    />
  
                    <!-- Phone -->
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        ./img/modal-window-img/strawberry-basket-mob@1x.png 1x,
                        ./img/modal-window-img/strawberry-basket-mob@2x.png 2x
                      "
                      type="image/png"
                    />
                    <img
                      src="./img/modal-window-img/strawberry-basket-desk@2x.png"
                      alt="Strawberry basket"
                      width="173"
                      height="196"
                      loading="lazy"
                    />
                  </picture>
                </div>
              </label>
            </div>
          </li>
  
          <li class="order-item">
            <div class="order-block">
              <label class="order-choise-apple" for="order-choise-apple">
                <h3 class="order-item-name">Apple Basket</h3>
                <p class="order-item-type">Plant</p>
                <input
                  class="apple-checkbox"
                  type="checkbox"
                  id="order-choise-apple"
                />
                <svg class="apple-checkbox-icon" width="8" height="8">
                  <use href="./img/svg/symbol-defs.svg#icon-pick"></use>
                </svg>
                <div class="order-image">
                  <picture>
                    <!-- Desktop -->
                    <source
                      media="(min-width: 1280px)"
                      srcset="
                        ./img/modal-window-img/apple-basket-desk@1x.png 1x,
                        ./img/modal-window-img/apple-basket-desk@2x.png 2x
                      "
                      type="image/png"
                    />
  
                    <!-- Tablet -->
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/modal-window-img/apple-basket-tab@1x.png 1x,
                        ./img/modal-window-img/apple-basket-tab@2x.png 2x
                      "
                      type="image/png"
                    />
  
                    <!-- Phone -->
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        ./img/modal-window-img/apple-basket-mob@1x.png 1x,
                        ./img/modal-window-img/apple-basket-mob@2x.png 2x
                      "
                      type="image/png"
                    />
                    <img
                      src="./img/modal-window-img/apple-basket-desk@2x.png"
                      alt="Apple basket"
                      width="229"
                      height="196"
                      loading="lazy"
                    />
                  </picture>
                </div>
              </label>
            </div>
          </li>
  
          <li class="order-item">
            <div class="order-block">
              <label class="order-choise-fruit" for="order-choise-fruit">
                <h3 class="order-item-name">Fruits Basket</h3>
                <p class="order-item-type">Plant</p>
                <input
                  class="fruit-checkbox"
                  type="checkbox"
                  id="order-choise-fruit"
                />
                <svg class="fruit-checkbox-icon" width="8" height="8">
                  <use href="./img/svg/symbol-defs.svg#icon-pick"></use>
                </svg>
                <div class="order-image">
                  <picture>
                    <!-- Desktop -->
                    <source
                      media="(min-width: 1280px)"
                      srcset="
                        ./img/modal-window-img/fruits-basket-desk@1x.png 1x,
                        ./img/modal-window-img/fruits-basket-desk@2x.png 2x
                      "
                      type="image/png"
                    />
  
                    <!-- Tablet -->
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ./img/modal-window-img/fruits-basket-tab@1x.png 1x,
                        ./img/modal-window-img/fruits-basket-tab@2x.png 2x
                      "
                      type="image/png"
                    />
  
                    <!-- Phone -->
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        ./img/modal-window-img/fruits-basket-mob@1x.png 1x,
                        ./img/modal-window-img/fruits-basket-mob@2x.png 2x
                      "
                      type="image/png"
                    />
                    <img
                      src="./img/modal-window-img/fruits-basket-desk@2x.png"
                      alt="Fruits basket"
                      width="229"
                      height="196"
                      loading="lazy"
                    />
                  </picture>
                </div>
              </label>
            </div>
          </li>
        </ul>
      </div>
  
      <div class="client-data">
        <label class="contact-label visually-hidden" for="user-name">Name</label>
        <input
          class="input-modal-field"
          type="text"
          name="user-name"
          id="user-name"
          required
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          placeholder="Enter full name..."
        />
  
        <label class="contact-label visually-hidden" for="user-email"
          >Email</label
        >
        <input
          class="input-modal-field"
          type="email"
          name="user-email"
          id="user-email"
          required
          placeholder="Enter email..."
        />
  
        <label class="contact-label visually-hidden" for="card-nomber"
          >Card number</label
        >
        <input
          class="input-modal-field"
          type="text"
          pattern="^[0-9]{5,45}$"
          title="Your card number must be between 5 to 45 digitals."
          required
          name="card-nomber"
          id="card-nomber"
          placeholder="Enter card..."
        />
  
        <label class="contact-label visually-hidden" for="comment">Comment</label>
        <textarea
          class="comment-field"
          name="comment"
          id="comment"
          rows="8"
          placeholder="Enter comments..."
        ></textarea>
  
        <button class="modal-send-btn button" type="submit">Send</button>
      </div>
    </form>
  </div>
  