<header class="header">
  <div class="container header-cont">
    <nav class="nav">

      <div class="all-logo">
        <a href="./index.html" class="header-logo link">
          <svg height="24" width="24" class="logo-icon">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
          <svg height="13" width="77" class="logo-icon">
            <use href="./img/icons.svg#icon-Bookshelf"></use>
          </svg>
        </a>
      </div>

      <ul class="nav-list">
        <li class="nav-item">
          <div class="nav-item-container"> <a href="./index.html" class="nav-link link active-link">Home</a> </div>
        </li>
        <li class="nav-item">
          <div class="nav-item-container"> <a href="./shoping.html" class="nav-link link">
              Shoping list
              <svg class="shop-icon" height="19" width="19">
                <use href="./img/icons.svg#icon-shop-list"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>

      <div class="right-menu">
      <div class="toggle-switch">
        <span>
          <label for="them-switch" class="switch">
            <input id="them-switch" type="checkbox" class="switch-input">
            <span class="round slider"></span>
          </label>
        </span>
      </div>
        <div class="profile"></div>
      </div>

      <div class="test">
        <button type="button" class="mobile-menu-button">
          <svg class="menu-icon js-open-menu" height="28" width="28">
            <use href="./img/icons.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>

</header>