<header class="header">
  <div class="container header-cont">
    <nav class="nav">
      <div class="all-logo">
        <a href="../index.html" class="header-logo link">
        <svg height="24" width="24">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
        <svg height="13" width="77">
          <use href="../img/icons.svg#icon-Bookshelf"></use>
        </svg>
      </a>
    </div>
      <ul class="nav-list">
        <li class="nav-item">
          <div class="nav-item-container"> <a href="../index.html" class="nav-link link">Home</a> </div>
        </li>

        <li class="nav-item">
          <div class="nav-item-container"> <a href="./page-3.html" class="nav-link shop-icon link">
            Shoping list
            <svg class="shop-icon" height="20" width="20">
              <use href="../img/icons.svg#icon-shop-list"></use>
            </svg>
          </div>
          </a>
        </li>
      </ul>

      <div class="checkbox"></div>
      <div class="profile"></div>

    </nav>
  </div>
</header>