<div class="modal-mob is-hidden-mob">
    <div class="mob-user hiden-user-auth">
        <img srcset="./img/authorization/user-2x.png 2x" src="./img/authorization/user.png" alt="" width="37"
            height="37" class="mob-user-image">
        <p class="mob-user-name">Name</p>
    </div>
    <button type="button" class="mob-profile-btn" authorization-data-modal-open>Sign up
        <svg class="mob-profile-btn-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
    </button>
    <ul class="mob-nav-list">
        <li class="mob-nav-item "> <!---nav-item-current-->
            <div class="mob-nav-item-container"> <a href="index.html"
                    class="mob-nav-link nav-link link homepage">Home</a> </div>
        </li>
        <li class="mob-nav-item">
            <div class="mob-nav-item-container"> <a href="shoping.html" class="mob-nav-link nav-link link">
                    Shoping list
                    <svg class="mob-shop-icon" height="19" width="19">
                        <use href="./img/icons.svg#icon-shop-list"></use>
                    </svg>
                </a>
            </div>
        </li>
    </ul>

    <button type="button" class="mob-profile-btn mob-log-out hiden-user-auth">Log out
        <svg class="mob-profile-btn-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
    </button>
</div>