<div class="test">
        <button type="button" class="mobile-menu-button">
        <!-- Added the 'hamburger' class for easier targeting with JS -->
        <button type="button" class="mobile-menu-button hamburger">
           <svg class="menu-icon js-open-menu" height="28" width="28">
             <use href="./img/icons.svg#icon-menu"></use>
           </svg>
          <!-- Cross icon will be hidden initially and displayed when the menu is open -->
          <svg class="menu-icon js-close-menu hidden" height="28" width="28">
            <use href="./img/icons.svg#icon-cross"></use>
          </svg>
         </button>
       </div>
       
     </nav>
   </div>
 
</header>
 
  <div class="mobile-signup-container hidden">
    <button type="button" class="profile-btn" authorization-data-modal-open>Sign up
      <svg class="profile-btn-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</header>