<div class="backdrop-authorization " data-modal>
    <div class="modal-authorization">
        <button class="modal-close-button" type="button" data-modal-close>
            <svg class="modal-close-icon" width="20" height="20">
                <use href="./img/authorization/x-close.svg#delete"></use>
            </svg>
        </button>
        <form class="authorization-form">
            <label class="authorization-form-label">
                <input placeholder=" " required type="name" name="name" class="authorization-form-input">
                <span>Name</span>
            </label>
            <label class="authorization-form-label">
                <input placeholder=" " required type="email" name="email" class="authorization-form-input">
                <span>Email</span>
            </label>
            <label class="authorization-form-label">
                <input placeholder=" " required type="password" name="password" class="authorization-form-input">
                <span>Password</span>
            </label>
            <button type="submit" class="authorization-form-btn">Sign up</button>
        </form>
        <div class="wrapper-switch">
            <button type="button" class="wrapper-switch-p action-auth">Sign up</button>
            <button type="button" class="wrapper-switch-p">Sign in</button>
        </div>
    </div>
</div>