<div class="backdrop-authorization is-hidden-authorization" authorization-data-modal>
    <div class="modal-authorization">
        <button class="modal-close-button" type="button" authorization-data-modal-close>
            <svg class="modal-close-icon" width="20" height="20">
                <use href="./img/authorization/icon-authorization.svg#close"></use>
            </svg>
        </button>
        <form class="authorization-form">
            <label class="authorization-form-label" label-name>
                <input placeholder=" " required type="name" name="name" class="authorization-form-input">
                <span class="label-name">Name</span>
            </label>
            <label class="authorization-form-label">
                <input placeholder=" " required type="email" name="email" class="authorization-form-input">
                <span class="label-name">Email</span>
                <svg class="label-icon" width="20" height="20">
                    <use href="./img/authorization/icon-authorization.svg#email"></use>
                </svg>
            </label>
            <label class="authorization-form-label">
                <input placeholder=" " required minlength="8" type="password" name="password"
                    class="authorization-form-input">
                <span class="label-name">Password</span>
                <svg class="label-icon" width="20" height="20">
                    <use href="./img/authorization/icon-authorization.svg#password"></use>
                </svg>
            </label>
            <button type="submit" class="authorization-form-btn create">Sign up</button>
        </form>
        <div class="wrapper-switch">
            <button type="button" class="wrapper-switch-p action-auth" sign-up>Sign up</button>
            <button type="button" class="wrapper-switch-p" sign-in>Sign in</button>
        </div>
    </div>
</div>