
    <div class="support-ukraine-container">
      <div class="support-ukraine-header">
        <h2 class="support-header-name glow">Support Ukraine</h2>
        <svg class="triden " width="20" height="32">
          <use href="./img/icons.svg#icon-trident"></use>
        </svg>
      </div>
      <div class="support-ukraine-list-container">
        <ul class="support-ukraine-list">
          <li class="support-ukraine-item">
            <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" rel="noopener"
              target="_blank" class="support-ukraine-link">
              <span class="support-num"> 01 </span>
              <img class="support-img" srcset="
                  ./img/support-ukraine/save@1x.png 1x,
                  ./img/support-ukraine/save@2x.png 2x
                " src="./img/support-ukraine/save@1x.png?dpr=1" width="149px" alt="Save the children" class="support-ukraine-logo " loading="lazy" />
            </a>
          </li>
          <li class="support-ukraine-item">
            <a href="https://www.projecthope.org/country/ukraine/" rel="noopener" target="_blank"
              class="support-ukraine-link">
              <span class="support-num"> 02 </span>
              <img class="support-img" srcset="
                  ./img/support-ukraine/hope@1x.png 1x,
                  ./img/support-ukraine/hope@2x.png 2x
                " src="./img/support-ukraine/hope@1x.png?dpr=1" width="64px" alt="Project Hope" class="support-ukraine-logo" loading="lazy" />
            </a>
          </li>
          <li class="support-ukraine-item">
            <a href="https://internationalmedicalcorps.org/country/ukraine/" rel="noopener" target="_blank"
              class="support-ukraine-link">
              <span class="support-num"> 03 </span>
              <img class="support-img" srcset="
                  ./img/support-ukraine/international@1x.png 1x,
                  ./img/support-ukraine/international@2x.png 2x
                " src="./img/support-ukraine/international@1x.png?dpr=1" width="118px" alt="International medical corps"
                class="support-ukraine-logo" loading="lazy" />
            </a>
          </li>
          <li class="support-ukraine-item">
            <a href="https://www.razomforukraine.org/" rel="noopener" target="_blank" class="support-ukraine-link">
              <span class="support-num"> 04 </span>
              <img class="support-img" srcset="
                  ./img/support-ukraine/razom@1x.png 1x,
                  ./img/support-ukraine/razom@2x.png 2x
                " src="./img/support-ukraine/razom@1x.png" width="96px" alt="Razom" class="support-ukraine-logo" loading="lazy" />
            </a>
          </li>
          <li class="support-ukraine-item">
            <a href="https://www.actionagainsthunger.org/location/europe/ukraine/" rel="noopener" target="_blank"
              class="support-ukraine-link">
              <span class="support-num"> 05 </span>
              <img class="support-img" srcset="
                  ./img/support-ukraine/action@1x.png 1x,
                  ./img/support-ukraine/action@2x.png 2x
                " src="./img/support-ukraine/action@1x.png" width="51px" alt="Action against hunger" class="support-ukraine-logo" loading="lazy" />
            </a>
          </li>
          <li class="support-ukraine-item">
            <a href="https://prytulafoundation.org/en" rel="noopener" target="_blank" class="support-ukraine-link">
              <span class="support-num"> 06 </span>
              <img class="support-img" srcset="
                  ./img/support-ukraine/sergey@1x.png 1x,
                  ./img/support-ukraine/sergey@2x.png 2x
                " src="./img/support-ukraine/sergey@1x.png" width="96px" alt="Sergey Pritula" class="support-ukraine-logo" loading="lazy" />
            </a>
          </li>
          <li class="support-ukraine-item">
            <a href="https://www.msf.org/ukraine" rel="noopener" target="_blank" class="support-ukraine-link">
              <span class="support-num"> 07 </span>
              <img class="support-img" srcset="
                  ./img/support-ukraine/medecins@1x.png 1x,
                  ./img/support-ukraine/medecins@2x.png 2x
                " src="./img/support-ukraine/medecins@1x.png" width="90px" alt="Medicenes Sans Frontiers"
                class="support-ukraine-logo" loading="lazy" />
            </a>
          </li>
          <li class="support-ukraine-item">
            <a href="https://www.wvi.org/emergencies/ukraine" rel="noopener" target="_blank"
              class="support-ukraine-link">
              <span class="support-num"> 08 </span>
              <img class="support-img" srcset="
                  ./img/support-ukraine/world@1x.png 1x,
                  ./img/support-ukraine/world@2x.png 2x
                " src="./img/support-ukraine/world@1x.png" width="66px" alt="World Vision" class="support-ukraine-logo" loading="lazy" />
            </a>
          </li>
          <li class="support-ukraine-item">
            <a href="https://u24.gov.ua/uk" rel="noopener" target="_blank" class="support-ukraine-link">
              <span class="support-num"> 09 </span>
              <img class="support-img" srcset="
                  ./img/support-ukraine/united@1x.png 1x,
                  ./img/support-ukraine/united@2x.png 2x
                " src="./img/support-ukraine/united@1x.png" width="86px" alt="United 24" class="support-ukraine-logo" loading="lazy" />
            </a>
          </li>
        </ul>
      </div>
      <button class="support-ukraine-btn">
        <svg class="support-btn-icon">
          <use href="./img/icons.svg#icon-angle-small-left"></use>
        </svg>
      </button>
    </div>
  