.header-cont {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 18px 20px;
  margin: 0 auto;
  background-color: #fff;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  position: relative;
  z-index: 4;
}
.nav {
  display: flex;
  justify-content: center;
}

.all-logo {
  margin-right: 150px;
}

.toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-right: 14px;
}

@media screen and (max-width: 767px) {
  .header-cont {
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .header-cont {
    max-width: 768px;
    height: 72px;
    padding: 0;
    display: flex;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }

  .header-logo {
    display: flex;
    align-items: center;
  }
  .profile {
    display: none;
  }

  .mobile-menu-button {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .test {
    display: flex;
  }

  .menu-icon {
    stroke: var(--dark-back-color);
    justify-content: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }

  .test {
    display: none;
  }

  .nav {
    display: flex;
  }

  .all-logo {
    margin-right: 0;
  }

  .nav-item {
    display: flex;
    align-items: center;
    border-radius: 36px;
    color: #111;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-item:hover,
  .nav-item:focus {
    font-weight: 700;
    color: var(--dark-back-colo);
    background: var(--dec-color);
    padding: 8px 16px;
  }

  .nav-item-current {
    font-weight: 700;
    color: var(--dark-back-color);
    background: var(--dec-color-yellow);
    border-radius: 36px;
  }

  .all-logo {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 245px;
  }

  .nav-link {
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    display: flex;
  }

  .nav-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shop-icon {
    margin-left: 8px;
  }

  .nav-link[aria-current='page'] {
    background-color: var(--dec-color-yellow);
    padding: 7px 16px;
    border-radius: 36px;
    font-weight: 700;
  }

  .toggle-switch {
    margin-right: 0;
  }

  .right-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 66px;
  }

  /* .checkbox {
  width: 40px;
  height: 24px;
  background-color: var(--dec-color-blue);
  border-radius: 36px;
  margin-right: 24px;
} */

  .profile {
    width: 184px;
    height: 45px;
    background-color: var(--dec-color-blue);
    border-radius: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .header-cont {
    max-width: 1440px;
    max-height: 72px;
    padding: 14px 24px;
    display: block;
  }

  .nav {
    justify-content: flex-start;
  }

  .all-logo {
    margin-right: 48px;
  }

  .nav-list {
    margin-right: 705px;
    width: 245px;
  }

  .nav-item {
    display: flex;
    align-items: center;
    border-radius: 36px;
    color: #111;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .right-menu {
    margin-left: 0;
    gap: 10px;
  }
}
/* Toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 18px;
  bottom: 2px;

  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);

  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  transform: translateX(-16px);
}

.slider,
.round {
  border-radius: 24px;
}

.round::before {
  border-radius: 50%;
}

input:checked + .round::before {
  background-color: #fff;
}

/* Toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 18px;
  bottom: 2px;

  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);

  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  transform: translateX(-16px);
}

.slider,
.round {
  border-radius: 24px;
}

.round::before {
  border-radius: 50%;
}

input:checked + .round::before {
  background-color: #fff;
}
