body {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.backdrop-authorization {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #502ee8bb;
  opacity: 1;
  visibility: visible;
  transition: opacity var(--animation-speed), visibility var(--animation-speed);
  display: flex;
  align-items: center;
}

.backdrop-authorization.is-hidden-authorization {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop-authorization.is-hidden-authorization .modal {
  transform: scale(0.75);
}

.modal-authorization {
  padding: 40px 20px;
  position: relative;
  transform: scale(1);
  max-width: 291px;
  width: 100%;
  height: auto;
  border-radius: 18px;
  border: 2px solid var(--second-color);
  background: var(--bg-color);
  margin: 0 auto;
  transition: all var(--animation-speed);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-close-button {
  padding: 0;
  position: absolute;
  right: 14px;
  top: 14px;
  background-color: transparent;
  border: none;
  transition: transform var(--animation-speed);
}

.modal-close-button:hover {
  transform: scale(1.2) rotateZ(90deg);
}

.modal-close-icon {
  width: 14px;
  height: 14px;
  stroke: var(--second-color);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  stroke: #4f2ee8;
}

.authorization-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.authorization-form-label {
  position: relative;
}

.authorization-form-label .label-name {
  position: absolute;
  top: 16px;
  left: 24px;
  color: var(--second-color);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125; /* 112.5% */
  letter-spacing: -0.16px;
  text-transform: uppercase;
  transition: transform var(--animation-speed);
}

.authorization-form-label:focus-within > .label-name,
.authorization-form-label:hover > .label-name {
  transform: translateY(-35px);
}

.authorization-form-input {
  padding-left: 24px;
  padding-right: 40px;
  color: var(--second-color);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125; /* 112.5% */
  letter-spacing: -0.16px;
  width: 225px;
  height: 44px;
  border-radius: 40px;
  border: 2px solid var(--second-color);
  background-color: transparent;
}

.authorization-form-input:not(:placeholder-shown) + .label-name {
  transform: translateY(-35px);
}

.label-icon {
  position: absolute;
  top: 15px;
  right: 24px;
  width: 18px;
  height: 18px;
  stroke: var(--second-color);
}

.authorization-form-btn {
  width: 294px;
  height: 50px;
  border-radius: 40px;
  background-color: var(--second-color);
  color: var(--btn-text-xolor);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125; /* 112.5% */
  letter-spacing: -0.16px;
  text-transform: uppercase;
  transition: transform var(--animation-speed);
}

.wrapper-switch-p:hover,
.wrapper-switch-p:focus,
.authorization-form-btn:hover,
.authorization-form-btn:focus {
  transform: scale(1.05);
}

.wrapper-switch {
  margin-top: 14px;
  display: flex;
  gap: 20px;
}

.wrapper-switch-p {
  color: var(--text-color);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28571; /* 128.571% */
  letter-spacing: -0.14px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: transform var(--animation-speed);
}

.action-auth {
  color: #4f2ee8;
  text-decoration-line: underline;
}

/* TABLET + DESKTOP */

@media screen and (min-width: 768px) {
  .modal-authorization {
    max-width: 495px;
    padding: 80px 40px 40px 40px;
  }

  .modal-close-button {
    right: 24px;
    top: 24px;
  }

  .modal-close-icon {
    width: 18px;
    height: 18px;
  }

  .authorization-form {
    gap: 28px;
  }

  .authorization-form-label .label-name {
    top: 20px;
    left: 40px;
    font-size: 18px;
    line-height: 1.33333; /* 133.333% */
    letter-spacing: -0.18px;
  }

  .authorization-form-label:focus-within > .label-name,
  .authorization-form-label:hover > .label-name {
    transform: translateY(-45px);
  }

  .authorization-form-input {
    padding-left: 40px;
    padding-right: 60px;
    font-size: 18px;
    line-height: 1.33333; /* 133.333% */
    letter-spacing: -0.18px;
    width: 395px;
    height: 58px;
  }

  .authorization-form-input:not(:placeholder-shown) + .label-name {
    transform: translateY(-45px);
  }

  .label-icon {
    top: 18px;
    right: 32px;
    width: 28px;
    height: 28px;
  }

  .authorization-form-btn {
    margin-top: 12px;
    width: 499px;
    height: 64px;
    font-size: 18px;
    line-height: 1.33333; /* 133.333% */
    letter-spacing: -0.18px;
  }

  .wrapper-switch {
    margin-top: 20px;
  }

  .wrapper-switch-p {
    font-size: 18px;
    line-height: 1.33333; /* 133.333% */
    letter-spacing: -0.18px;
  }

  .profile-btn {
    width: 184px;
    height: 45px;
    border-radius: 18px;
    border: 1.5px solid #111;
    background-color: #4f2ee8;
    color: #fff;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28571; /* 128.571% */
    letter-spacing: -0.56px;
    display: flex;
    padding: 12px 14px;
    transition: box-shadow var(--animation-speed);
  }

  .profile-btn.log-out {
    background-color: var(--theme-background);
    color: var(--primary-colour);
    border: var(--primary-colour);
    position: absolute;
    z-index: 5;
  }

  .profile-btn-icon {
    margin-left: 88px;
    stroke: #eac645;
  }

  .profile-btn:hover,
  .profile-btn:focus {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
  }

  .authorization-user {
    width: 160px;
    height: 37px;
    border-radius: 36px;
    background-color: #4f2ee8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 4px 12px;
  }

  .user-name {
    color: #fff;
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
  }

  .user-icon {
    fill: #fff;
  }

  .hiden-user-auth {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
