

.container {
  max-width: 375px;
  max-height: 800px;
  padding: 40px 20px;
  margin: auto;
  overflow: hidden;
}

.shopping-list-title {
    color: #111;
    font-family: DM Sans;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -1.28px;
    margin-bottom: 40px;
}

.shopping-list-title-span {
  color: #4F2EE8;
}

.shopping-list {
  height: 760px;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  display: flex;
}

.shopping-item {
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.40);
  background: #FFF;
  gap: 14px;
  padding: 14px;
  display: flex;
  position: relative;
}

.shopping-list-card {
  height: 170px;
  background: #fff;
  border: 2px solid #4f2ee866;
  border-radius: 16px;
  gap: 14px;
  padding: 14px;
  display: flex;
  position: relative;

}

.shopping-card-img {
  min-width: 100px;
  height: 142px;
  object-fit: cover;
  border-radius: 8px;
}

.shopping-message {
  width: 100%;
  flex-direction: column;
  display: flex;
}

.shopping-card-title {
  max-width: 144px;
  width: 100%;
  letter-spacing: -.04em;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #111;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  display: block;
  overflow: hidden;
}

.shopping-card-category {
  max-width: 156px;
  letter-spacing: .03em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #b4afaf;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  display: block;
  overflow: hidden;
}


.shopping-card-description {
  width: 100%;
  max-width: 193px;
  max-height: 68px;
  letter-spacing: -.04em;
  -webkit-line-clamp: 3;
  max-height: 3.9em;
  text-overflow: ellipsis;
  color: #111;
  -webkit-box-orient: vertical;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  display: -webkit-box;
  overflow: hidden;
}

.shopping-card-footer {
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 14px;
  display: flex;
}


.shopping-card-author {
      max-width: 95px;
      letter-spacing: -.04em;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #b4afaf;
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
      line-height: 1.17;
      overflow: hidden;
}

.shopping-card-shoplist {
  align-items: center;
  gap: 8px;
  display: flex;
}

.shopping-link {
  width: 16px;
  height: 16px;
}

.shopping-pagination {
  margin-top: 20px;
}

.shopping-book-delete {
  z-index: 10;
  width: 28px;
  height: 28px;
  fill: #fff;
  cursor: pointer;
  background-color: #4f2ee8;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 6px;
  transition: background-color .5s cubic-bezier(.4, 0, .2, 1);
  display: flex;
  position: absolute;
  top: 14px;
  right: 14px;
}

.shopping-icon-delete {
  width: 16px;
  height: 16px;
  pointer-events: none;
  margin: 0;
  padding: 0;
  display: block;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 40px 24px;  
  }
  .shopping-list-title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
}

.shopping-list {
  height: 679px;
}

.shopping-item {
  gap: 24px;
  padding: 24px;
}
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 40px;
    padding-bottom: 40px;
    
  }

}
