@import url('./fonts.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./support-ukraine');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-back-color: #FFFFFF;
  --sec-primary-back-color: #F6F6F6;
  --dark-back-color: #111111;
  --sec-dark-back-color: #202024;
  --dec-color: #EAC645;
}

body {
  padding-top: 0;
  margin: 0;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--sec-primary-back-color);
  color: var(--dark-back-color);
}