.support-ukraine-container {
  position: relative;
  position: relative;
  box-sizing: border-box;
  max-width: 335px;
  height: 460px;
  flex-shrink: 0;
  border-radius: 16px;
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #fff 100%);

  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  padding: 24px 40px;

}

.support-ukraine-header {
  color: #fff;

  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 40px;
}

.support-header-name {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.09;
  letter-spacing: -0.88px;
}

.glow {
  font-size: 22px;
  color: #fff;
  text-align: center;
  animation: glow 15s ease-in-out infinite;
}

@keyframes glow {

  0%,
  100% {
    text-shadow: 0 0 0px #fff;
  }

  44%,
  56% {
    text-shadow: 0 0 0px #fff;
  }

  50% {
    text-shadow: 0 0 5px #fff, 0 0 10px #eff617, 0 0 15px #eff617,
      0 0 20px #eff617, 0 0 25px #eff617;
  }
}

.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.support-ukraine-list-container {
  overflow: hidden;
  height: 292px;
  ;
}

.support-ukraine-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  transform: translateY(0);
  transition: transform 1s;
}

.support-ukraine-list.active {
  transform: translateY(-153px);
}

.support-ukraine-link {
  display: flex;
  gap: 16px;
  align-items: center;
}

.support-num {
  color: #fff;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

.support-img {
  filter: brightness(0) invert(1);
  height: 32px;
}

.support-ukraine-btn {
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  margin-top: 24px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  align-items: center;
}

.support-btn-icon {

  width: 20px;
  height: 20px;
  width: 20px;
  height: 20px;

  transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 1s;
}

.support-btn-icon.active {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .support-ukraine-container {
    height: 474px;
    height: 474px;
  }

  .support-ukraine-btn {
    width: 38px;
    height: 38px;


    bottom: 24px;

  }

}

@media screen and (min-width: 1140px) {
  .support {
    margin-top: 85px;
  }
}