.hight {
  --primary-colour: #111111;
  --theme-background: #ffffff;
  --modal-background: #f6f6f6;
  --hover-theme: #4f2ee8;
  --main-background: #f6f6f6;
}

.dark {
  --primary-colour: #ffffff;
  --theme-background: #111111;
  --modal-background: #202024;
  --hover-theme: #eac645;
  --paragraph-colour: #b4afaf;
  --secondary-colour: #ffffff;
}

/* shopping list */

.dark .shopping-list-title {
  color: var(--primary-back-color);
}

.dark .shopping-text-empty {
  color: var(--primary-back-color);
}

/* modal authorization */

.dark .modal-authorization {
  border: 2px solid var(--primary-back-color);
  background: var(--sec-dark-back-color);
}

.dark .modal-close-icon {
  stroke: var(--primary-back-color);
}

.dark .authorization-form-input {
  color: var(--primary-back-color);
  border: 2px solid var(--primary-back-color);
}

.dark .label-icon {
  stroke: var(--primary-back-color);
}

.dark .authorization-form-label .label-name {
  color: var(--primary-back-color);
}

.dark .authorization-form-btn {
  background-color: var(--primary-back-color);
  color: var(--text-color);
}

.dark .wrapper-switch-p {
  color: rgba(246, 246, 246, 0.5);
}

.dark .action-auth {
  color: #4f2ee8;
}

.dark .profile-btn.log-out {
  background-color: #111;
  color: #fff;
  border: 1.5px solid #fff;
}

/* dark */

.dark {
  background-color: var(--modal-background);
}

.dark .header-cont {
  background-color: var(--modal-background);
  border: 1.5px solid var(--secondary-colour);
  border-radius: 0px 0px 8px 8px;
}

.dark .nav-item,
.dark .shop-icon {
  color: var(--primary-colour);
  fill: var(--primary-colour);
}

/* .dark .nav-item:hover,
.dark .nav-item:focus,
.dark .dark .shop-icon:hover,
.dark .shop-icon:focus {
  color: var(--dark-back-color);
  fill: var(--dark-back-color);
} */

.dark .list-item {
  margin-bottom: 24px;
  color: rgba(200, 200, 200, 0.6);
  font-family: DM Sans;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.32px;

  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .list-item:hover,
.dark .list-item:focus {
  color: var(--hover-theme);
}

.dark .see-more-btn {
  background: var(--primary-back-colo);
  color: var(--primary-colour);
}

.dark .nav-item {
  display: flex;
  align-items: center;
  border-radius: 36px;
  color: var(--primary-back-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .menu-icon {
  stroke: #fff;
}

/* .dark .nav-item:hover,
.dark .nav-item:focus {
  font-weight: 700;
  color: var(--dark-back-colo);
  background: var(--dec-color);
  padding: 8px 16px;
} */

/* .dark .nav-item-current {
  font-weight: 700;
  color: var(--dark-back-color);
  background: var(--dec-color-yellow);
  border-radius: 36px;
} */

.dark .active-category {
  font-weight: 700;
  text-transform: uppercase;
  color: #eac645;
}

.logo-icon {
  fill: var(--primary-colour);
}

.menu-icon {
  fill: var(--primary-colour);
}

.nav-link[aria-current='page'] {
  background-color: var(--dec-color-yellow);
  color: var(--dark-back-color);
  padding: 7px 16px;
  border-radius: 36px;
  font-weight: 700;

}

.nav-link[aria-current='page'] .shop-icon {
  fill: var(--dark-back-color);
}